.logopgn{
    margin-left: 43%;
    width: 200px;
}

.descricao{
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif
}

.phone{
    width: 55px; 
}

.numero{
    font-size: large;
}

.email{
    width: 50px;
}

.enderecodeemail{
    font-size: large;
    margin-left: 2%;
}

.local{
    width: 50px;
margin-left: 2%;

}

.endereco{
    font-size: large;
}

.bloco{
    background-color: rgb(103, 103, 104);
border-radius: 20px;
width: 560px;
filter: drop-shadow(0 0 1rem rgb(110, 109, 107));
    box-shadow: 1px 1px 1rem rgb(0, 0, 0);
}

.body{
    background-color: rgb(175, 175, 175);
}